[project]
	description = TCP port scanner, spews SYN packets asynchronously, scanning entire Internet in under 5 minutes.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Artem Muterko (micgeronimo)
[access "refs/for/refs/*"]
	read = group user/Artem Muterko (micgeronimo)
	push = group user/Artem Muterko (micgeronimo)
	label-Code-Review = -2..+2 group user/Artem Muterko (micgeronimo)
	label-Verified = -1..+1 group user/Artem Muterko (micgeronimo)
	rebase = group user/Artem Muterko (micgeronimo)
	removeReviewer = group user/Artem Muterko (micgeronimo)
	submit = group user/Artem Muterko (micgeronimo)
[access "refs/heads/*"]
	read = group user/Artem Muterko (micgeronimo)
	create = group user/Artem Muterko (micgeronimo)
	push = +force group user/Artem Muterko (micgeronimo)
	pushMerge = group user/Artem Muterko (micgeronimo)
[access "refs/tags/*"]
	push = +force group user/Artem Muterko (micgeronimo)
	pushTag = group user/Artem Muterko (micgeronimo)
	pushSignedTag = group user/Artem Muterko (micgeronimo)
